:root {
    --off-white: #fff8f0;
    --red: #dd2d4a;
    --pink: #f8bbd0;
    --white: #ffffff;
    --mint: #cef9f2;
    --jet: #323031;
}

body {
    background-color: var(--off-white);
    color: var(--jet);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

nav{
    grid-column: 1;
    grid-row: 1 / span 4;
    background-color: var(--mint);
    padding: 10px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px;
    display: block;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    z-index: 1000;
}
.menu-icon{
    width: 70px;
    height: 70px;
    margin-left: 65px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: var(--pink);
}
.material-symbols-outlined{
    position: relative;
    color: var(--red);
    cursor: pointer;
    display: none;
    margin-left: 80px;
    margin-top: 20px;
    transform: translate(-230%, 0%);
}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    height: 100%;
}

nav li{
    list-style-type: none;
    color:#f8bbd0;
    margin-right: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    align-self: center;
}

nav a{
    color: var(--pink);
    background-color: var(--red);
    padding: 8px 12px;
    margin-bottom: 50px;
    text-decoration: none;
    font-weight: bold;
}

nav a:active{
    color: var(--red);
    background-color: transparent;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: var(--pink);
    -webkit-text-stroke: 0.8px var(--red);
    background-color: transparent;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
}

nav a:visited{
    color: var(--mint);
    padding: 8px 12px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: var(--red);
    font-size: 90px;
    font-family: "Lemon", serif;
    grid-column: 2 / 5;
    grid-row: 2/3;
    text-align: center;
    margin-left: 4vw;
}

img{
    width: 100%;
    height: 400px;
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}

#heading{
    color: var(--pink);
    font-size: 60px;
    font-family: "Lemonada", serif;
    grid-column: 2 / 6;
}

#heading2{
    color: var(--pink);
    font-size: 48px;
    font-weight: 400;
    font-family: "Lemonada", serif;
}

#heading3{
    color: var(--jet);
    font-size: 36px;
    font-weight: 400;
    font-family: "Lemonada", serif;
}

#about{
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
    margin-left: 4vw;
    margin-top: 2vw;
}

#lessons{
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    margin-left: 4vw;
    margin-top: 2vw;
}

#examples{
    grid-column: 2 / span 3;
    grid-row: 5 / span 1;
    margin-left: 4vw;
    margin-top: 2vw;
}

p {
    color: var(--jet);
    font-family: "Aleo", serif;
    line-height: 1.6;
    font-size: 24;
}

i{
    color: var(--red);
    font-weight: 350;
    background-color: var(--pink);
}

strong{
    color: var(--red);
    background-color: var(--pink);
}

.example-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.example-item {
    background-color: var(--mint);
    height: 150px;
    border: 2px solid var(--red);
    border-radius: 10px;
}

hr{
    border: none;
    border-top: 20px solid var(--pink);
    margin: 40px 0 10px 4vw;
    grid-column: 2 / span 3;
    grid-row: 5;
}

@media (min-width: 1000px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    nav {
        position: absolute;
        width: 100%;
        height: auto;
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: flex-start;
    }

    .material-symbols-outlined{
        display: block;
    }

    .menu-icon{
        margin-bottom: 40px;
    }

    nav ul {
        flex-direction: row;
        margin: 1vw 5vw 0 5vw;
    }

    h1 {
        font-size: 48px;
        grid-column: 1;
        grid-row: 2;
        margin-left: 0;
    }

    hr {
        grid-column: 1;
        margin: 2vw;
    }

    #about, #lessons, #examples {
        grid-column: 1;
        margin-left: 2vw;
    }
}